/* Establecer la imagen de fondo y ajustar su apariencia */
.background-image {
    background-image: url('Imagenes/intro.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Colocar la imagen detrás de los demás elementos */
  }
  
  /* Posicionar la barra de opciones sobre la imagen */
  .barra-opciones {
    position: relative;
    z-index: 1; /* Colocar la barra de opciones sobre la imagen */
  }